body {
    font-family: 'Lora', serif;
    font-size: 1rem;
    line-height: 1.4rem;
    color: whitesmoke;
    margin: 0;
    background-image: url("john-matychuk-gUK3lA3K7Yo-unsplash.jpg");
    background-size: 150%;
    font-weight: 500;
    background-repeat: no-repeat;
}

header{
    text-align: center;
    font-weight: 600;
}

form {
    text-align: center;
    background-color: rgba(71, 59, 43, 0.747);
    margin: 0 30% 0 30%;
    border-radius: 10px;
    padding: 10px;
}

label {
    align-self: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.description {
    font-style: italic;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
}

.form-control {
    border-radius: 5px;
}

.input-radio,
.input-checkbox {
    display: inline-block;
    min-height: 1.25rem;
    min-width: 1.25rem;
    margin-right: 0.625rem;
}

.input-textarea {
    align-self: center;
    min-height: 120px;
    width: 75%;
    padding: 5px;
}
